.homePageWrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: #9053c7;
  background: -webkit-linear-gradient(-135deg, #5650c8, #0b1859);
  background: -o-linear-gradient(-135deg, #5650c8, #0b1859);
  background: -moz-linear-gradient(-135deg, #5650c8, #0b1859);
  background: linear-gradient(-135deg, #5650c8, #0b1859);
}


.formWrapper {
  background-color: black;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  max-width: 90%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* padding: 177px 130px 33px 95px; */
}

.login100-pic {
  width: 316px;
}

.login100-pic img {
  max-width: 100%;
}

footer{
  position: fixed;
  bottom: 0;
  text-align: center;
  
}

.inputGroup {
display: flex;
flex-direction: column;
}

.mainLabel{
  margin-bottom: 20px;
  margin-top: -20px;
  font-family: Poppins-Bold;
  font-size: 50px;
  color: #fff;
  width: 100%;
  display: block;
}



.inputBox{
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: none;
  margin-bottom: 14px;
  background: #eee;
  font-size: 16px;
  font-weight: bold;
}

.btn {
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.submitbtn{
  background: rgb(13, 218, 13);
  width: 100px;
  margin-inline: auto;
  border: none;
  
}

.formsubmit{
  background: rgb(13, 218, 13);
  width: 100px;
  margin-inline: auto;
  border: none;
}

.submitbtn:hover{
 background: #2b824c;
}

.createInfo{
  align-content: center;
  margin: center;
  margin-top: 100px;
  margin-inline: auto;
  
}

.createNewBtn{
  color: #4aed88;
  text-decoration: none;
  border-bottom: 1px solid #4aed88;
  transition: all 0.3s ease-in-out;
  font-size: 1rem;
}

.createNewBtn:hover {
  color: #368654;
  border-color: #368654;
}

.card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 30px;
  min-height: 30rem;
  
  }

form {
  max-width: 350px;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0px 3px 24px -8px rgba(0, 0, 0, 0.75);
}

.name-field {
  margin-bottom: 50px;
  font-size: 16px;
  font-weight: bold;
}
.name-field-field {
  margin-bottom: 50px;
  font-size: 16px;
  font-weight: bold;
  width: 50px;
  height: 50px;
  
}

button {
  margin-top: 20px;
  padding: 10px;
  background: transparent;
  border-radius: 5px;
}

.render-chat {
  max-width: 350px;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0px 3px 24px -8px rgba(0, 0, 0, 0.75);
}

h3 {
  color: #2f72da;
}

span {
  color: black;
}
